@model string
<header>
    @Html.Partial("~/Views/Header.cshtml", ViewData["Nome"])
</header>

<div class="imagemLogo">
    <img src="~/lib/icone_igreja_bgremove.jpg" alt="Icone Igreja Batista" width="43%" height="43%">
</div>
<footer class="footer">
    @Html.Partial("~/Views/Footer.cshtml")
</footer>
