@using IgrejaBatista1.Models.ValueObjects
@model CadastroMembrosVO

<header>
    @Html.Partial("~/Views/Header.cshtml", ViewData["Nome"])
</header>
<br />
<br />
<br />
<div style="background-color:#212529;">
    <h5 style="color:white; margin-left:10px;">Cadastro de Membros</h5>
</div>

<br />
<body>
    <div class="container">
        <form asp-action="SalvarCadastro" asp-controller="Cadastro" method="post">
            <input type="text" hidden asp-for="Id">
            <div class="row mb-3">
                <label class="col text-black">Nome Completo:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomeCompleto" required class="form-control w-50" name="nomeCompleto" id="nome">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Data de Nascimento:</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="DataNascimento" required class="form-control w-50" name="dataNascimento" id="dataNascimento">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">CPF:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="CPF" required class="form-control w-50" name="cpf" id="cpf">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">RG:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="RG" required class="form-control w-50" name="rg" id="rg">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Nome da Mãe:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomeMae" required class="form-control w-50" name="nomeMae" id="nomeMae">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Nome do Pai:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomePai" required class="form-control w-50" name="nomePai" id="nomePai">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Data do Batismo:</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="DataBatismo" required class="form-control w-50" name="dataBatismo" id="dataBatismo">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Cargo:</label>
                <div class="col-sm-10">
                    <select asp-for="CargoId" asp-items="Model.Cargo" multiple="multiple" id="cargo" class="form-control w-50 select2">
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Ativo:</label>
                <div class="col-sm-10">
                    <input id="ativo" asp-for="Ativo" type="checkbox" />
                    <label id="labelAtivo" asp-for="Ativo">
                        @if (Model.Ativo)
                        {
                            <strong>Sim</strong>
                        }
                        else
                        {
                            <strong>Não</strong>
                        }
                    </label>
                </div>
            </div>
            <div class="btn-group float-end" role="group">
                <input type="submit" class="btn btn-dark" value="Salvar" />
            </div>

        </form>
    </div>
    <br />
    <br />
    <div class="col-lg-12" style="text-align: left;">
        <a asp-action="Index" asp-controller="Cadastro" style="margin-left:5px;" role="button" class="btn btn-dark">Voltar</a>
    </div>
</body>
<footer class="footer">
    @Html.Partial("~/Views/Footer.cshtml")
</footer>

<script Script>
     $(document).ready(function(){
        const checkbox = document.getElementById('ativo');
        const label = document.getElementById('labelAtivo');

        checkbox.addEventListener('change', function() {
          if (this.checked) {
             label.innerHTML = '<strong>Sim</strong>';
          } else {
             label.innerHTML = '<strong>Não</strong>';
          }
        });

         $('.select2').select2({
            placeholder: "--Selecione--"
        });
     })

    function limparCampos(){
        $("#nome").val("");
        $("#dataNascimento").val("");
        $("#cpf").val("");
        $("#rg").val("");
        $("#nomeMae").val("");
        $("#nomePai").val("");
        $("#dataBatismo").val("");
        $("#cargo").val(0);
    }


     IMask(document.getElementById('cpf'), {
                mask:[
                    {
                        mask: '000.000.000-00',
                        maxLength: 11
                    }
                ]
            }
     );
</script>