@model CadastroMembro

<header>
    @Html.Partial("~/Views/Header.cshtml", ViewData["Nome"])

    <div style="background-color:black;">
        <h5 style="color:white; margin-left:10px;">Formulário de Cadastro de Membros</h5>
    </div>
</header>

<body>
    <div class="container">
        <form asp-action="SalvarCadastro" asp-controller="Cadastro" method="post">
            <input type="text" hidden asp-for="Id">
            <div class="row mb-3">
                <label class="col text-black">Nome Completo:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomeCompleto" required class="form-control w-50" name="nomeCompleto" id="nome">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Data de Nascimento:</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="DataNascimento" required class="form-control w-50" name="dataNascimento" id="dataNascimento">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">CPF:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="CPF" required class="form-control w-50" name="cpf" id="cpf">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">RG:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="RG" required class="form-control w-50" name="rg" id="rg">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Nome da Mãe:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomeMae" required class="form-control w-50" name="nomeMae" id="nomeMae">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Nome do Pai:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="NomePai" required class="form-control w-50" name="nomePai" id="nomePai">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col text-black">Data do Batismo:</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="DataBatismo" required class="form-control w-50" name="dataBatismo" id="dataBatismo">
                </div>
            </div>
            <div class="btn-group float-end" role="group">
                <input type="submit" class="btn btn-dark" value="Salvar" />
            </div>

        </form>
    </div>
    <br />
    <br />
    <div class="col-lg-12" style="text-align: left;">
        <a asp-action="Index" asp-controller="Cadastro" role="button" class="btn btn-dark">Voltar</a>
    </div>
</body>
<footer class="border-top footer bg-black">
    @Html.Partial("~/Views/Footer.cshtml")
</footer>

<script Script>
    function limparCampos(){
        $("#nome").val("");
        $("#dataNascimento").val("");
        $("#cpf").val("");
        $("#rg").val("");
        $("#nomeMae").val("");
        $("#nomePai").val("");
        $("#dataBatismo").val("");
    }
</script>