<div class="col-md-12 d-flex align-items-center justify-content-center">
    <label style="color:white; text-align:center;">Todos os Direitos Reservados - 2025 &nbsp;&nbsp;</label> <a class="text-danger">Igreja Batista Nacional de Bariri</a>
</div>
